body {
  background-color: rgb(49, 49, 49);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.oppgave__header {
  font-size: 1rem;
  font-weight: 700;
}

#oppgave__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#column__left {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

#column__right {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.oppgave {
  background-color: rgb(71, 71, 71);
  border-radius: 1rem;
  margin: 3px;
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 0.5px rgb(117, 117, 117);
  padding: 5rem;
  margin-inline: 1rem;
  margin-block: 1rem;
  justify-content: center;
}

button {
  border: none;
    position: relative;
    left: 15rem;
    width: 20%;
    
}
